'.source.scad':
  'editor':
    'commentStart': '// '
    'increaseIndentPattern': '^.*(\\{[^}"\']*|\\([^)"\']*)$'
    'decreaseIndentPattern': '^(.*\\*/)?\\s*(\\}|\\))([^{]*\\{)?([;,]?\\s*|\\.[^{]*|\\s*\\)[;\\s]*)$'
